@import './variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  // overflow-x: hidden;
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(13, 31%, 94%);
  width: 100vw;
}


button{
  font-family: "Red Hat Text", sans-serif;
}

// COMBINATION OF THE PRODUCT GRID AND THE CART GRID


.product-cart-container{
  width: 100%;
  padding: 0 6%;
  @include flexCenter(column, center, center);
  gap: 40px;

  // THE PRODUCT GRID
  .product-grid-container{
    h1{
      margin: 35px 0;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0;
      font-weight: 700;
    }

    .product-image{
      width: 100%;
    }

    .add-to-cart-button{
      width: 100%;
    }


    .product-grid{
      display: flex;
      @include flexCenter(column, center, center);
      gap: 30px;
      .product{
        width: 100%;
        .imageandbutton{
          width: 100%;
          display: flex;
          @include flexCenter(column, center, center);
          .product-image{
            object-fit: contain;
            border-radius: 8px;
            z-index: 0;
          }

          
          .add-to-cart-button{
            display: flex;
            @include flexCenter(row, center, center);
            font-size: 15px;
            z-index: 10;
            padding: 8px 12px;
            border-radius: 32px;
            gap: 8px;
            color: $product-name-color;
            font-weight: 600;
            border: 1px solid hsl(7, 20%, 60%);
            background-color: hsl(20, 50%, 98%);
            margin-top: -22px;
            margin-bottom: 5px;
            width: 60%;
          }

          .add-to-cart-button:hover{
            background-color: hsl(14, 58%, 66%);
            cursor: pointer;
            transition: 0.1s;
            border: none !important;
          }

          .add-to-cart-button:active, ::after{
            background-image: radial-gradient(hsl(14, 86%, 42%), hsl(20, 50%, 98%));
            cursor: pointer;
            transition: 0.1s;
            border: none !important;

          }



          .product-image:hover{
            border: 3px solid hsl(14, 86%, 42%);
            transition: 0.1s;
            cursor: pointer;
          }


          .add-to-cart-button-active{
            display: none !important;
            @include flexCenter(row, center, center);
            background-color: hsl(14, 86%, 42%);
            color: white;
            gap: 12vw;
            padding: 11px 24px;
            border-radius: 32px;
            border: none;
            width: 45%;
            .quantity-button{
              background: none;
              border: 1px solid white;
              border-radius: 50%;
              display: flex;
              @include flexCenter(row, center, center);
              padding: 8px;
              width: 10px;
              height: 10px;
            }
          }

          
        }
        .product-information{
          display: flex;
          @include flexCenter(column, start, center);
          gap: 5px;
          .product-type{
            font-size: 14px;
            color: $product-type-color;
            font-weight: 400;
          }
          .product-name{
            color: $product-name-color;
            font-weight: 600;
          }
          .product-price{
            color: $product-price-color;
            font-weight: 600;
            font-size: 16px;
          }

        }
    }
  }
}




#product1:checked +  .cart-item-divider, .cart-item1, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product2:checked +  .cart-item-divider, .cart-item2, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product3:checked +  .cart-item-divider, .cart-item3, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product4:checked +  .cart-item-divider, .cart-item4, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product5:checked +  .cart-item-divider, .cart-item5, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product6:checked +  .cart-item-divider, .cart-item6, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product7:checked +  .cart-item-divider, .cart-item7, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product8:checked +  .cart-item-divider, .cart-item8, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}

#product9:checked +  .cart-item-divider, .cart-item9, hr{
  display: flex !important;
  @include flexCenter(column, center, center);
  width: 100% !important;
  margin-bottom: 20px;
}
 

  // THE CART GRID
  .cart-grid-container{
    width: 100%;
    display: flex;  
    @include flexCenter(column, start, center);
    background-color: hsl(20, 50%, 98%);
    border-radius: 8px;
    padding: 0 6%;
    h2{
      color: hsl(14, 86%, 42%);
      margin: 25px 0; 
      font-size: 30px;
      font-weight: 700;
    }
    .cart-empty-items{
      display: flex;
      width: 100%;
      @include flexCenter(column, center, center);
      margin-bottom: 40px;
      p{
        color: hsl(12, 20%, 44%);
        font-weight: 600;
        line-height: 100%;
        font-size: 14px;
      }
    }
    input{
      display: none;
    }

    .cart-picked-items{
      width: 100%;
      .cart-item-divider{
        display: none !important;
        width: 100%;
        .cart-item{
          display: flex;
          width: 100%;
          @include flexCenter(row, center, space-between);
          .cart-item-product{
            display: flex;
            @include flexCenter(column, start, center);
            gap: 5px;
            .cart-item-product-name{
              font-size: 18px;
              color: $product-name-color;
              font-weight: 600;
              line-height: 100%;
            }
            span:nth-child(1){
              color: hsl(14, 86%, 42%);
              font-size: 16px;
              font-weight: 600;
              line-height: 100%;
              margin-right: 15px;
            }
            span:nth-child(2){
              color: $product-type-color;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              margin-right: 10px;
            }
            span:nth-child(3){
              color: $product-type-color;
              font-weight: 600;
              font-size: 16px;
              line-height: 100%;
              margin-right: 10px;
            }
          }
          button{
            display: flex;
            @include flexCenter(column, center, center);
            background: none;
            border: 1px solid $product-type-color;
            border-radius: 50%;
            padding: 8px;
            width: 10px;
            height: 10px;
          }
        }
        hr{
          opacity: 0.2;
          margin: 10px 0;
        }
      }

      .order-summary{
        margin-top: 20px;
        width: 100%;
        display: flex;
        @include flexCenter(column, center, center);
        gap: 30px;
        .delivery-cost{
          width: 100%;
          display: flex;
          @include flexCenter(row, center, space-between);
          p:nth-child(1){
            display: flex;
            @include flexCenter(column, center, start);
            font-weight: 400;

          }
          p:nth-child(2){
            display: flex;
            @include flexCenter(column, center, end);
            font-size: 30px;
            font-weight: 700;
          }
        }
        .carbon-order-container{
          @include flexCenter(row, center, center);
          gap: 10px;
          background-color: hsl(13, 31%, 94%);
          padding: 12px 18px;
          width: 100%;
          border: none;
          border-radius: 8px;
          p{
            font-weight: 400;
            font-size: 15px;
            span{
              font-weight: 600;
            }
          }
        }

        .Confirm-button{
          border: none;
          border-radius: 32px;
          width: 100%;
          padding: 18px 24px;
          background-color: hsl(14, 86%, 42%);
          color: hsl(20, 50%, 98%);
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 20px;
          text-decoration: none;
          text-align: center;
        
        }
      }
    }
}

}

@media screen and (min-width: 770px){
  body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    @include flexCenter(column, start,center);
  }
  .product-image{
    width: 100% !important;
    height: 100% !important;
  }
  .product-cart-container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw !important;
    height: 100vh;
    align-items: start;
    justify-content: center;
    padding: 2% 5%;
    gap: 30px !important;
    .product-grid-container{
      @include flexCenter(column, start, center);
      gap: 0;
      width: 100%;
      h1{
        margin: 0;
      }
      .product-grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        padding: 2% 0;
        .product{
          .imageandbutton{
            .add-to-cart-button{
              padding: 8px 24px;
              font-size: 14px;
              width: 80% !important;
            }
          }
        }
      }
    }
  }

  .cart-grid-container{
    @include flexCenter(column, start, start);
    height: auto;
    width: 40%;
    padding: 25px 20px !important;
    h2{
      margin-top: 0 !important;
    }

  }
}


// POPUP>HTML PAGE

body{
  .order-confirmed-container{
    height: 100%;
    width: 100%;
    background: rgb(88, 81, 81);
    .order-confirmed-grey{
      background-color: rgb(88, 81, 81);
      width: 100%;
      opacity: 0.9;
      padding: 4%;
      h1{
        font-size: 36px;
        line-height: 100%;
      }

    }
    .order-confirmed-white{
      background-color: hsl(20, 50%, 98%);
      width: 100%;
      height: 100%;
      z-index: 10;
      @include flexCenter(column, start, center);
      padding: 0 4%;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      #check-mark{
        margin: 35px 0;
      }
      h1{
        font-size: 36px;
        line-height: 100%;
        margin-bottom: 20px;
        width: 46%;
      }
      h5{
        color: hsl(7, 20%, 60%);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 25px;
        letter-spacing: 0;
        line-height: 100%;
      }

      .order-confirmed-products-section{
        background-color: hsl(13, 31%, 94%);
        width: 100%;
        padding: 4.5%;
        border-radius: 8px;
        margin-bottom: 35px;
        .order-confirmed-product{
          @include flexCenter(row, center, space-between);
          .order-confirmed-product-image-text{
            @include flexCenter(row, center, center);
            gap: 12px;
            img{
              @include flexCenter(row, center, start);
              border-radius: 8px;
              height: 60px;
              width: 60px;
            }
            .order-confirmed-product-text{
              @include flexCenter(column, start, center);
              gap: 12px;
              p{
                font-size: 16px;
                color: $product-name-color;
                font-weight: 600;
                line-height: 100%;
                span:nth-child(1){
                  color: hsl(14, 86%, 42%);
                }
                span:nth-child(2){
                  color: $product-type-color;
                }
              }

            }
            
            }
          .order-confirmed-product-price{
              @include flexCenter(row, center, end);
              p{
                color: $product-name-color;
                font-size: 18px;
                font-weight: 700;
          }
          }
        }
        hr{
          opacity: 0.2;
          margin: 20px 0;
        }
        
        .delivery-fee{
          @include flexCenter(row, center, space-between);
          p:nth-child(1){
            @include flexCenter(row, center, start);
            font-size: 18px;
            color: $product-name-color;
          }
          p:nth-child(2){
            @include flexCenter(row, center, end);
            font-size: 30px;
            font-weight: 700;
          }
        }
      }

      a{
        text-decoration: none;
        width: 100%;
        background-color: hsl(14, 86%, 42%);
        color: hsl(20, 50%, 98%);
        border: none;
        border-radius: 32px;
        padding: 16px 24px;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.2;
        font-size: 18px;
      }
    }
  }

  }
  @media screen and (min-width:770px){
    body{
      @include flexCenter(column, center, center);
      background-color: hsl(13, 31%, 94%);
    }

    .order-confirmed-container{
      height: 62% !important;
      width: 35% !important;
      background: none !important;
      .order-confirmed-grey{
        display: none;
      }
      .order-confirmed-white{
        border-radius: 10px;
        padding: 0 3%;
      }
      #check-mark{
        margin: 20px 0 !important;
        width: 8%;
        height: 8%;
      }
      h1 {
        font-size: 25px !important;
        width: 100% !important;
        margin-bottom: 10px !important;
      }
      h5{
        font-size: 14px !important;
        margin-bottom: 12.5px !important;
      }

      .order-confirmed-products-section{
        padding: 3.5% !important;
        margin-bottom: 18px !important;
        .order-confirmed-product{
          .order-confirmed-product-image-text{
            img{
              height: 45px !important;
              width: 45px !important;
            }
            .order-confirmed-product-text{
              gap: 6px !important;
              p{
                font-size: 14px !important;
              }
            }
          }
          .order-confirmed-product-price{
            p{
              font-size: 16px !important;
            }
          }
          
        }
        hr{
          margin: 10px 0 !important;
        }

        .delivery-fee{
          p:nth-child(1){
            font-size: 16px !important;
          }
          p:nth-child(2){
            font-size: 26px !important;
          }
        } 
      }

      a{
        font-size: 16px !important;
      }
    }



}