* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(13, 31%, 94%);
  width: 100vw;
}

button {
  font-family: "Red Hat Text", sans-serif;
}

.product-cart-container {
  width: 100%;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.product-cart-container .product-grid-container h1 {
  margin: 35px 0;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 700;
}
.product-cart-container .product-grid-container .product-image {
  width: 100%;
}
.product-cart-container .product-grid-container .add-to-cart-button {
  width: 100%;
}
.product-cart-container .product-grid-container .product-grid {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product-cart-container .product-grid-container .product-grid .product {
  width: 100%;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .product-image {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  z-index: 0;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  z-index: 10;
  padding: 8px 12px;
  border-radius: 32px;
  gap: 8px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  border: 1px solid hsl(7, 20%, 60%);
  background-color: hsl(20, 50%, 98%);
  margin-top: -22px;
  margin-bottom: 5px;
  width: 60%;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button:hover {
  background-color: hsl(14, 58%, 66%);
  cursor: pointer;
  transition: 0.1s;
  border: none !important;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button:active, .product-cart-container .product-grid-container .product-grid .product .imageandbutton ::after {
  background-image: radial-gradient(hsl(14, 86%, 42%), hsl(20, 50%, 98%));
  cursor: pointer;
  transition: 0.1s;
  border: none !important;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .product-image:hover {
  border: 3px solid hsl(14, 86%, 42%);
  transition: 0.1s;
  cursor: pointer;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button-active {
  display: none !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  color: white;
  gap: 12vw;
  padding: 11px 24px;
  border-radius: 32px;
  border: none;
  width: 45%;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button-active .quantity-button {
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 10px;
  height: 10px;
}
.product-cart-container .product-grid-container .product-grid .product .product-information {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-type {
  font-size: 14px;
  color: hsl(7, 20%, 60%);
  font-weight: 400;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-name {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  font-size: 16px;
}
.product-cart-container #product1:checked + .cart-item-divider, .product-cart-container .cart-item1, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product2:checked + .cart-item-divider, .product-cart-container .cart-item2, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product3:checked + .cart-item-divider, .product-cart-container .cart-item3, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product4:checked + .cart-item-divider, .product-cart-container .cart-item4, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product5:checked + .cart-item-divider, .product-cart-container .cart-item5, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product6:checked + .cart-item-divider, .product-cart-container .cart-item6, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product7:checked + .cart-item-divider, .product-cart-container .cart-item7, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product8:checked + .cart-item-divider, .product-cart-container .cart-item8, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container #product9:checked + .cart-item-divider, .product-cart-container .cart-item9, .product-cart-container hr {
  display: flex !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  margin-bottom: 20px;
}
.product-cart-container .cart-grid-container {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
  padding: 0 6%;
}
.product-cart-container .cart-grid-container h2 {
  color: hsl(14, 86%, 42%);
  margin: 25px 0;
  font-size: 30px;
  font-weight: 700;
}
.product-cart-container .cart-grid-container .cart-empty-items {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.product-cart-container .cart-grid-container .cart-empty-items p {
  color: hsl(12, 20%, 44%);
  font-weight: 600;
  line-height: 100%;
  font-size: 14px;
}
.product-cart-container .cart-grid-container input {
  display: none;
}
.product-cart-container .cart-grid-container .cart-picked-items {
  width: 100%;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider {
  display: none !important;
  width: 100%;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item .cart-item-product {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item .cart-item-product .cart-item-product-name {
  font-size: 18px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  line-height: 100%;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item .cart-item-product span:nth-child(1) {
  color: hsl(14, 86%, 42%);
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  margin-right: 15px;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item .cart-item-product span:nth-child(2) {
  color: hsl(7, 20%, 60%);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-right: 10px;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item .cart-item-product span:nth-child(3) {
  color: hsl(7, 20%, 60%);
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-right: 10px;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider .cart-item button {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: 1px solid hsl(7, 20%, 60%);
  border-radius: 50%;
  padding: 8px;
  width: 10px;
  height: 10px;
}
.product-cart-container .cart-grid-container .cart-picked-items .cart-item-divider hr {
  opacity: 0.2;
  margin: 10px 0;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary {
  margin-top: 20px;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .delivery-cost {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .delivery-cost p:nth-child(1) {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-weight: 400;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .delivery-cost p:nth-child(2) {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: 30px;
  font-weight: 700;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .carbon-order-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: hsl(13, 31%, 94%);
  padding: 12px 18px;
  width: 100%;
  border: none;
  border-radius: 8px;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .carbon-order-container p {
  font-weight: 400;
  font-size: 15px;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .carbon-order-container p span {
  font-weight: 600;
}
.product-cart-container .cart-grid-container .cart-picked-items .order-summary .Confirm-button {
  border: none;
  border-radius: 32px;
  width: 100%;
  padding: 18px 24px;
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 770px) {
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .product-image {
    width: 100% !important;
    height: 100% !important;
  }
  .product-cart-container {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw !important;
    height: 100vh;
    align-items: start;
    justify-content: center;
    padding: 2% 5%;
    gap: 30px !important;
  }
  .product-cart-container .product-grid-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
    width: 100%;
  }
  .product-cart-container .product-grid-container h1 {
    margin: 0;
  }
  .product-cart-container .product-grid-container .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2% 0;
  }
  .product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button {
    padding: 8px 24px;
    font-size: 14px;
    width: 80% !important;
  }
  .cart-grid-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: auto;
    width: 40%;
    padding: 25px 20px !important;
  }
  .cart-grid-container h2 {
    margin-top: 0 !important;
  }
}
body .order-confirmed-container {
  height: 100%;
  width: 100%;
  background: rgb(88, 81, 81);
}
body .order-confirmed-container .order-confirmed-grey {
  background-color: rgb(88, 81, 81);
  width: 100%;
  opacity: 0.9;
  padding: 4%;
}
body .order-confirmed-container .order-confirmed-grey h1 {
  font-size: 36px;
  line-height: 100%;
}
body .order-confirmed-container .order-confirmed-white {
  background-color: hsl(20, 50%, 98%);
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 4%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}
body .order-confirmed-container .order-confirmed-white #check-mark {
  margin: 35px 0;
}
body .order-confirmed-container .order-confirmed-white h1 {
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 20px;
  width: 46%;
}
body .order-confirmed-container .order-confirmed-white h5 {
  color: hsl(7, 20%, 60%);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
  letter-spacing: 0;
  line-height: 100%;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section {
  background-color: hsl(13, 31%, 94%);
  width: 100%;
  padding: 4.5%;
  border-radius: 8px;
  margin-bottom: 35px;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  height: 60px;
  width: 60px;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 12px;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text p {
  font-size: 16px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  line-height: 100%;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text p span:nth-child(1) {
  color: hsl(14, 86%, 42%);
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text p span:nth-child(2) {
  color: hsl(7, 20%, 60%);
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-price p {
  color: hsl(14, 65%, 9%);
  font-size: 18px;
  font-weight: 700;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section hr {
  opacity: 0.2;
  margin: 20px 0;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .delivery-fee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .delivery-fee p:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  color: hsl(14, 65%, 9%);
}
body .order-confirmed-container .order-confirmed-white .order-confirmed-products-section .delivery-fee p:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  font-size: 30px;
  font-weight: 700;
}
body .order-confirmed-container .order-confirmed-white a {
  text-decoration: none;
  width: 100%;
  background-color: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border: none;
  border-radius: 32px;
  padding: 16px 24px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.2;
  font-size: 18px;
}

@media screen and (min-width: 770px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(13, 31%, 94%);
  }
  .order-confirmed-container {
    height: 62% !important;
    width: 35% !important;
    background: none !important;
  }
  .order-confirmed-container .order-confirmed-grey {
    display: none;
  }
  .order-confirmed-container .order-confirmed-white {
    border-radius: 10px;
    padding: 0 3%;
  }
  .order-confirmed-container #check-mark {
    margin: 20px 0 !important;
    width: 8%;
    height: 8%;
  }
  .order-confirmed-container h1 {
    font-size: 25px !important;
    width: 100% !important;
    margin-bottom: 10px !important;
  }
  .order-confirmed-container h5 {
    font-size: 14px !important;
    margin-bottom: 12.5px !important;
  }
  .order-confirmed-container .order-confirmed-products-section {
    padding: 3.5% !important;
    margin-bottom: 18px !important;
  }
  .order-confirmed-container .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text img {
    height: 45px !important;
    width: 45px !important;
  }
  .order-confirmed-container .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text {
    gap: 6px !important;
  }
  .order-confirmed-container .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-image-text .order-confirmed-product-text p {
    font-size: 14px !important;
  }
  .order-confirmed-container .order-confirmed-products-section .order-confirmed-product .order-confirmed-product-price p {
    font-size: 16px !important;
  }
  .order-confirmed-container .order-confirmed-products-section hr {
    margin: 10px 0 !important;
  }
  .order-confirmed-container .order-confirmed-products-section .delivery-fee p:nth-child(1) {
    font-size: 16px !important;
  }
  .order-confirmed-container .order-confirmed-products-section .delivery-fee p:nth-child(2) {
    font-size: 26px !important;
  }
  .order-confirmed-container a {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=styles.css.map */