* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  background-color: hsl(13, 31%, 94%);
  width: 100vw;
}

.hidden-checkbox {
  display: flex;
}

button {
  font-family: "Red Hat Text", sans-serif;
}

.product-cart-container {
  width: 100%;
  padding: 0 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-cart-container .product-grid-container h1 {
  margin: 35px 0;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  font-weight: 700;
}
.product-cart-container .product-grid-container .product-image {
  width: 100%;
}
.product-cart-container .product-grid-container .product-grid {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product-cart-container .product-grid-container .product-grid .product {
  width: 100%;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .product-image {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 24px;
  border-radius: 32px;
  gap: 8px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  border: 1px solid hsl(7, 20%, 60%);
  background-color: hsl(20, 50%, 98%);
  margin-top: -22px;
  width: 45vw;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button-active {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(14, 86%, 42%);
  color: white;
  gap: 12vw;
  padding: 11px 24px;
  border-radius: 32px;
  border: none;
  width: 45vw;
  margin-top: -22px;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-to-cart-button-active .quantity-button {
  background: none;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 10px;
  height: 10px;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton .add-label, .product-cart-container .product-grid-container .product-grid .product .imageandbutton .remove-label {
  display: none !important;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton #prod1:not(:checked) ~ .add-label, .product-cart-container .product-grid-container .product-grid .product .imageandbutton .cart-empty-items {
  display: flex !important;
}
.product-cart-container .product-grid-container .product-grid .product .imageandbutton #prod1:checked ~ .remove-label {
  display: flex !important;
}
.product-cart-container .product-grid-container .product-grid .product .product-information {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-type {
  font-size: 14px;
  color: hsl(7, 20%, 60%);
  font-weight: 400;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-name {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
.product-cart-container .product-grid-container .product-grid .product .product-information .product-price {
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  font-size: 16px;
}
.product-cart-container .cart-grid-container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: hsl(20, 50%, 98%);
  border-radius: 8px;
  padding: 0 7%;
}
.product-cart-container .cart-grid-container h2 {
  color: hsl(14, 86%, 42%);
  margin: 25px 0;
  font-size: 30px;
  font-weight: 700;
}
.product-cart-container .cart-grid-container .cart-empty-items {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-cart-container .cart-grid-container .cart-empty-items p {
  color: hsl(12, 20%, 44%);
  font-weight: 600;
  line-height: 100%;
  font-size: 14px;
}
.product-cart-container .cart-grid-container input {
  display: none;
}/*# sourceMappingURL=styles.css.map */